body{
  background-color: #3F2A2B;
  margin: 0;
}

.logo{
  margin: 10px;
  color: white;
}

.primera_barra{
  background-color: #130914;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10%;
  width: 100%;
  height: 7%;
  list-style: none;
}

.btn_perfil button{
  font-weight: 700;
  color: #130914;
  padding: 9px 25px;
  background-color: grey;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.boton-consigna{
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.boton-consigna a{
  color: inherit;
}

.boton-consigna button{
  background-color: #FB3640;
  font-weight: 700;
  padding: 9px 25px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
}

.navl-links li a {
  padding: 8px;
}

.navbarMio li{
  color: white;
}

.navbarMio{
  background-color: #130914;
  width: 97%;
  margin-left: 20px;
  justify-content: center;
  list-style: none;

}

.nav-links{
  margin-left: 37%;
  justify-content: center;
}

.nav-links a{
  font-size: 700;
  color: black;
  text-decoration: none;
}

.nav-links li:hover{
  transform: scale(1.2);
}

.navbarMio .nav-links li{
  display: inline-block;
  transition: 0.5s;
  padding-right: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.cuadrado_interfaz{
  margin: 20px;
  background: #DECBB7;
}



.texto_titulo{
  align-items: center;
  background-color: #130914;
  width: 500px;
  height: 50px;
  color: white;
  text-align: center;
  margin-left: 29%;
  border-radius: 5px;
}

.rectangulo_interfaz{
  background-color: #130914;
  width: 97%;
  margin-left: 20px;
  border-radius: 25px;
}

.contenedor_cursos {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  width: 50px;
  padding-left: 10px;
  column-gap: 20px;
  margin-left: 29%;
}

.cursos_item{
  background-color: aliceblue;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}

.subir_imagen{
  background-color: aliceblue;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
}

.subir_imagen_contenedor{
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  row-gap: 10px;
  width: 50px;
  padding-left: 10px;
  column-gap: 20px;
  margin-left: 100px;
  margin-top: 20px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 70px;
  font-size: 30px;
  text-align: center;
  
}

.botones_principales{
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.botones_principales button{
  font-weight: 700;
  color: white;
  padding: 9px 25px;
  background-color: #130914;
  border: none;
  height: 80px;
  width: 250px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.especificaciones-pedir-consigna {
  background-color: #3F2A2B;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}

.cuadrado-marron {
  background-color: #3F2A2B;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.texto-blanco{
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}

.especificaciones-lista {
  margin-left: 20px;
  margin-top: 20px;
}

.especificaciones-individual{
  margin-bottom: 20px;
}

.consigna-titulo{
  align-items: center;
  background-color: #130914;
  width: 500px;
  height: 100px;
  color: white;
  text-align: center;
  margin-left: 29%;
  border-radius: 5px;
}

.consigna-descripcion{
  align-items: center;
  background-color: #130914;
  width: 1000px;
  height: 200px;
  color: white;
  text-align: center;
  margin-left: 9%;
  margin-top: 20px;
  border-radius: 5px;
}

.consigna-documentacion{
  align-items: center;
  background-color: #130914;
  width: 1000px;
  height: 200px;
  color: white;
  text-align: center;
  margin-left: 9%;
  margin-top: 20px;
  border-radius: 5px;
}

.consigna-boton-empezar button{
  background-color: #FB3640;
  font-weight: 700;
  color: white;
  height: 50px;
  padding: 9px 25px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.consigna-boton-empezar{
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
  border: none;
}

.consigna-boton-empezar a{
  color: inherit;
}

.consigna-titulo-entregar{
  align-items: center;
  background-color: #130914;
  width: 500px;
  height: 100px;
  color: white;
  text-align: center;
  margin-left: 29%;
  border-radius: 5px;
}

.consigna-descripcion-entregar{
  align-items: center;
  background-color: #130914;
  width: 1000px;
  height: 100px;
  color: white;
  text-align: center;
  margin-left: 9%;
  margin-top: 20px;
  border-radius: 5px;
}

.consigna-documentacion-entregar{
  align-items: center;
  background-color: #130914;
  width: 1000px;
  height: 100px;
  color: white;
  text-align: center;
  margin-left: 9%;
  margin-top: 20px;
  border-radius: 5px;
}

textarea{
  resize: none;
}

.contenido{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  margin-left: 25px;
}

.contenido a{
  margin: 30px;
}
/*
.tarjeta{
  background-color: #130914;
  display: flex;
  align-items: space-around;
  flex-direction: column;
  max-width: 250px;
  margin-left: 20px;
}

.tarjeta img{
  max-width: 200px;
  max-height: 200px;
}

.tarjeta span{
  font-size: 20px;
}
*/

.relleno{
  margin: 50px;
  font-size: 100;
  color:aliceblue;
  text-decoration: none;
}

.texto_index_curso{
  color: aliceblue;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card {
  background-color: #130914;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 400px;
  border-radius: 20px;
  text-align: left;
}

.card p{
  text-align: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 0%;
}

.relleno a{
  margin: 30px;
}

.contenido-entregas{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 10px;
}

.botones_consignas{
  display: flex;
  flex-direction: row;
  justify-content: center;
}